body {
    margin: 0;
    background-color: #365761
    
  }
  .game{
      text-align: center;
  }
  .gamelayer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 230px;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    background-color: #FBF8DD;
  }
  .cell {
    width: 80px;
    height: 65px;
    border: 2px solid rgb(233, 230, 230);
    cursor: pointer;
    font-size: 50px;
    background-color: rgb(151, 194, 194);
  
  
  }
  #restartbtn{
      width:80px;
      height: 30px;
      border-radius: 10px;
      background-color:rgb(180, 175, 175) ;
      border: none;
      font-style: italic;
  }
  h1{
    margin-top: 250px;
    color: azure;
    font-style: italic;
  }